@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,400&family=Inter:wght@400;500&display=swap');

@theme {
    /* Light */
    --color-bg-light:             #ffffff;
    --color-accent-blue:          #2563eb;
    --color-accent-blue-hover:    #1d4ed8;
    --color-accent-indigo:        #818cf8;
    --color-accent-indigo-hover:  #a5b4fc;
    --color-accent-sky:           #38bdf8;
    --color-text-light:           #0c0f16;
    --color-text-light-muted:     #374151;
    --color-text-light-subtle:    #6b7280;
    --color-border-light:         #c7d2fe;
    /*Dark*/
    --color-bg-dark:            #000000;
    --color-bg-dark-surface:    #111111;
    --color-bg-dark-card:       #181818;
    --color-text-dark:          #f5f5f5;
    --color-text-dark-muted:    #a3a3a3;
    --color-border-dark:        #262626;
    --color-accent:             #ff5a1f;
    --color-accent-hover:       #ff7a45;
}

body {
  font-family: 'Playfair Display', serif;
}